<div class="row">
<div class="col-md-6">
    <form #f="ngForm"  (submit)="Submit(f)" class="jumbotron" [formGroup]='model'>
        <div class="form-group">
            <input type="hidden" class="form-control" formControlName="_id">
            <input type="hidden" class="form-control" formControlName="__v">
            <label>Employee ID</label>
            <input type="text" class="form-control" formControlName="EmployeeId">
            <div *ngIf="EmployeeId.errors?.required && (EmployeeId.touched || EmployeeId.dirty)">
                <span class="text-danger">*EmployeeId is required</span>
            </div>
            <div *ngIf="EmployeeId.errors?.minlength">
                <span class="text-danger">*enter atleat 4 values</span>
            </div>
            <div *ngIf="EmployeeId.errors?.maxlength">
                <span class="text-danger">*enter atleat 5 values</span>
            </div>
        </div>
        <div class="form-group">
            <label> Name</label>
            <input type="text" class="form-control" name="Name" formControlName="Name">
            <div *ngIf="Name.errors?.required && (Name.touched || Name.dirty)">
                <span class="text-danger">*Name is required</span>
            </div>
            <div *ngIf="Name.errors?.minlength">
                <span class="text-danger">*enter atleat 4 values</span>
            </div>
            <div *ngIf="Name.errors?.maxlength">
                <span class="text-danger">*Maximum character is 12</span>
            </div>
        </div>
        <div class="form-group">
            <label>Place</label>
            <input type="text" class="form-control" name="Place" formControlName="Place">
            <div *ngIf="Place.errors?.required && (Place.touched || Place.dirty)">
                <span class="text-danger">*Place is required</span>
            </div>
            <div *ngIf="Place.errors?.minlength">
                <span class="text-danger">*enter atleat 4 values</span>
            </div>
            <div *ngIf="Place.errors?.maxlength">
                <span class="text-danger">*Maximum character is 12</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]='model.invalid'>{{isUpdate ? 'Upadate' : 'Add'}}</button>
    </form>
</div>
<div class="col-md-5">
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Employee id</th>
            <th scope="col">Name</th>
            <th scope="col">Place</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody *ngFor="let val of value">
         <td>{{val.EmployeeId}}</td>
         <td>{{val.Name}}</td>
         <td>{{val.Place}}</td>
         <td><button class=" btn btn-primary" (click)='Update(val)'>Edit</button></td>
         <td><button class="btn btn-secondary" (click)="Deletedata(val.EmployeeId)">Delete</button></td>
        </tbody>
    </table>
</div>
</div>